**/.DS_Store
**/.mypy_cache
**/.pytest_cache
**/.venv
**/.vscode
**/log
**/scripts
**/venv
.DS_Store
.git/
.github/
.gitignore
.mypy_cache/
.pytest_cache/
.python-version
.ruff_cache/
ScanReport.xlsx
connection.json
