**/__pycache__/
.DS_Store
.idea
.mypy_cache/
.pytest_cache/
.python-version
.ruff_cache/
.venv/
.vscode
ScanReport.xlsx
connection.json
db.env
docker-compose.override.yml
env.secret.db_password
etl/models/.DS_Store
log/
scan_processed.json
venv/
